.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 300px;
  height: 200px;
  background-color: rgb(137, 144, 146);
  border-radius: 10px;
  border: 3px solid rgb(187, 191, 194);
  box-shadow: 0px 5px 15px 1px black;
}
.darkMode {
  background-color: rgb(43, 43, 43);
}
.toggle {
  color: black;
  cursor: pointer;
}
.toggled {
  color: rgb(189, 189, 189);
  background-color: black;
  border-color: rgb(41, 41, 41);
}
